{{ form_start(form, {'attr': {'class': 'custom-form'}}) }}

<table>
    <tr>
        <td width="200">{{ form_label(form.firstName) }}</td>
        <td width="300">{{ form_widget(form.firstName, {'attr': {'class': 'custom-input'}}) }}</td>
        <td width="200">{{ form_label(form.lastName) }}</td>
        <td>{{ form_widget(form.lastName, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.email) }}</td>
        <td colspan="3">{{ form_widget(form.email, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.password.first) }}</td>
        <td>{{ form_widget(form.password.first, {'attr': {'class': 'custom-input'}}) }}</td>
        <td>{{ form_label(form.password.second) }}</td>
        <td>{{ form_widget(form.password.second, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
</table>

<button type="submit" class="custom-button">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

