{{ form_start(form, {'attr': {'class': 'custom-form'}}) }}

<table>
    <tr>
        <td width="150">{{ form_label(form.firstName) }}</td>
        <td>{{ form_widget(form.firstName, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.lastName) }}</td>
        <td>{{ form_widget(form.lastName, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.email) }}</td>
        <td>{{ form_widget(form.email, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.password.first) }}</td>
        <td>{{ form_widget(form.password.first, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
    <tr height="45" style="margin-bottom: 80px;">
        <td>{{ form_label(form.password.second) }}</td>
        <td>{{ form_widget(form.password.second, {'attr': {'class': 'custom-input'}}) }}</td>
    </tr>
</table>
<button type="submit" class="custom-button" style="position: absolute; top: 550px;">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}


