{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            -webkit-font-smoothing: antialiased;
            background-color: #f4f7ff;

        }

        .container {
            width: 100%;
            max-width: 500px;
            padding: 20px;
            background-color: rgba(175, 164, 206, 0.25);
            border-radius: 15px;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            margin: auto;
            text-align: center;
        }

        input[type="email"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #ffffff;
            border: 1px solid #007bff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .btn-primary:hover, .btn-primary:focus {
            background-color: #0056b3;
            border-color: #0056b3;
            transform: scale(1.05);
            box-shadow: 0 0 10px #999;
        }
        .home-button {
            position: fixed;
            right: 20px; /* Ajustez selon l'emplacement désiré */
            top: 50%; /* Centre le bouton verticalement */
            transform: translateY(-50%);
            z-index: 100; /* S'assure que le bouton est au-dessus des autres éléments */
        }
    </style>
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_start(requestForm) }}
    <div class="container">
        <h1>Demande de réinitialisation du mot de passe</h1>
        {{ form_row(requestForm.email, {'attr': {'placeholder': 'Votre adresse email', 'autofocus': true, 'class': 'form-control'}}) }}
        <button type="submit" class="btn-primary">Envoyer</button>
    </div>
    {{ form_end(requestForm) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.1/dist/canvas-confetti.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.querySelector('button[type="submit"]');

            button.addEventListener('click', function(e) {
                e.preventDefault(); // Empêche la soumission du formulaire si nécessaire

                // Lancer les confettis !
                confetti({
                    particleCount: 100,
                    spread: 70,
                    origin: { y: 0.6 }
                });

                // Ajouter ici la logique pour réellement soumettre le formulaire si nécessaire
            });
        });
    </script>
{% endblock %}
