{% extends 'base.html.twig' %}

{% block title %}PhysicalTraits{% endblock %}

{% block body %}
    <h1>PhysicalTraits</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ physical_trait.id }}</td>
            </tr>
            <tr>
                <th>FaceShape</th>
                <td>{{ physical_trait.faceShape }}</td>
            </tr>
            <tr>
                <th>EyeColor</th>
                <td>{{ physical_trait.eyeColor }}</td>
            </tr>
            <tr>
                <th>SkinColor</th>
                <td>{{ physical_trait.skinColor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_physical_traits_index') }}">back to list</a>

    <a href="{{ path('app_physical_traits_edit', {'id': physical_trait.id}) }}">edit</a>

    {{ include('physical_traits/_delete_form.html.twig') }}
{% endblock %}
